.EmptyList {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    row-gap: 1.5rem;
    min-height: 65vh;
}

.Subtitle {
    font-weight: bold;
    font-size: xx-large;
}

.Text {
    font-size: large;
}